/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// In lieu of creating a MatSnackbarService and component with success, fail, warning states with icons
.warning-snackbar {
	background-color: rgb(187, 109, 7);
}
.success-snackbar {
	background-color: rgb(4, 42, 12);
}
