.spacer {
	flex: 1 1 auto;
}

.videos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 25px 50px;
}

.videos-show {
	width: 100%;
	max-width: 800px;
}

.video {
	margin-bottom: 15px;
	width: 100%;
}

.spinner {
	// Put the spinner in the middle of the screen
	margin-top: 45vh;
	transform: translateY(-50%);
}
