<mat-toolbar color="primary">
	<span>Video Manager</span>
	<span class="spacer"></span>
	<button mat-icon-button matTooltip="Add video" (click)="openUpload()">
		<mat-icon>add</mat-icon>
	</button>
</mat-toolbar>

<main class="videos">
	<div class="videos-show" *ngIf="videos$ | async; else loading">
		<section class="video" *ngFor="let video of videos$ | async">
			<app-video
				[video]="video"
				[openVideoId$]="openVideoId$"
				(triggerAccordion)="triggerAccordion($event)"
			></app-video>
		</section>
	</div>
</main>

<ng-template #loading><mat-spinner class="spinner"></mat-spinner></ng-template>
