<div class="video">
	<mat-accordion>
		<mat-expansion-panel (opened)="triggerAccordionClicked()">
			<mat-expansion-panel-header>
				<mat-panel-title> {{ video.title }} </mat-panel-title>
				<mat-panel-description>
					{{ video.description }}
				</mat-panel-description>
			</mat-expansion-panel-header>
			<div class="video__container">
				<video class="video__player" controls>
					<source src="{{ video.path }}" type="video/mp4" />
				</video>
				<button
					class="video__edit"
					mat-icon-button
					matTooltip="Edit video"
					(click)="openUpdateVideo()"
				>
					<mat-icon>edit</mat-icon>
				</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>
