// Brief showcase of a layering structure within scss
.video {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__player {
		max-width: 300px;
		height: auto;
		margin: 10px;
	}
}
