:host {
	display: flex;
	flex-direction: column;
	min-width: 400px;
}

mat-dialog-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

mat-dialog-actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.video-form {
	width: 100%;
}

.input-fields {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px 0;
}

.mat-form-field {
	font-size: 16px;
	width: 100%;
	margin: 5px 0;
}

.spinner {
	margin: 3em 0;
}
