<h2 mat-dialog-title>Update Video</h2>

<mat-dialog-content *ngIf="!isLoading.value; else loading">
	<form [formGroup]="videoForm" class="video-form">
		<div class="input-fields">
			<mat-form-field appearance="outline" [color]="titleControl.invalid && 'warn'">
				<mat-label>Title</mat-label>
				<input type="text" matInput [formControl]="titleControl" />
				<mat-error *ngIf="titleControl.touched && titleControl.invalid">{{
					getErrorMessage(titleControl)
				}}</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline" [color]="descriptionControl.invalid && 'warn'">
				<mat-label>Description</mat-label>
				<input type="text" matInput [formControl]="descriptionControl" />
				<mat-error *ngIf="descriptionControl.touched && descriptionControl.invalid">{{
					getErrorMessage(descriptionControl)
				}}</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline" [color]="tagsControl.invalid && 'warn'">
				<mat-label>Tags</mat-label>
				<input
					type="text"
					matInput
					placeholder="Cool, Awesome, Great"
					[formControl]="tagsControl"
				/>
				<mat-error *ngIf="tagsControl.touched && tagsControl.invalid">{{
					getErrorMessage(tagsControl)
				}}</mat-error>
			</mat-form-field>
		</div>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<button type="button" mat-button [mat-dialog-close]>Cancel</button>
	<button
		id="update-video"
		type="button"
		mat-flat-button
		color="primary"
		[disabled]="videoForm.status === 'INVALID' || isLoading.value"
		(click)="update()"
	>
		Update
	</button>
</mat-dialog-actions>

<ng-template #loading>
	<mat-dialog-content><mat-spinner class="spinner"></mat-spinner></mat-dialog-content>
</ng-template>
